<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>报警通讯系统</title>
    <link rel="stylesheet" href="./css/base.css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" href="./css/xitong.css" th:href="@{/css/xitong.css}"/>
    <link rel="stylesheet" href="./css/dialog.css" th:href="@{/css/dialog.css}"/>
    <script src="./js/My97DatePicker/WdatePicker.js" th:src="@{/js/My97DatePicker/WdatePicker.js}"></script>
    <script src="./js/dialog.js" th:src="@{/js/dialog.js}"></script>
    <script src="./js/jquery-1.8.2.min.js" th:src="@{/js/jquery-1.8.2.min.js}"></script>
    <script src="./js/common.js" th:src="@{/js/common.js}"></script>
    <script src="./js/main.js" th:src="@{/js/main.js}"></script>
</head>
<body>
<div id="alarm-app">
    <div class="xitong_head" th:include="common/header :: header"></div>
    <div class="xitong-con" th:include="common/nav :: nav"></div>
    <div class="xitong_body">
        <div class="xtbody_head">
            <button th:if="${session.WEBSITE_USER.userType == '0'}" class="bu4" type="button">我的关联</button>
            <a th:if="${session.WEBSITE_USER.userType == '0'}" class="a1" th:href="@{'/wantref/list?id=' + ${targetPhone.id}}" >我要关联</a>
        </div>
        <div class="xtbody_con">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr> 
                	<td colspan="5" th:text="${targetPhone.name != null ? '目标用户 &nbsp;: &nbsp;' + targetPhone.name : ''} + '&nbsp;&nbsp;&nbsp;' +${targetPhone.targetPhone != null ? '手机号&nbsp; : &nbsp;' + targetPhone.targetPhone : ''} 
                	+ '&nbsp;&nbsp;&nbsp;已关联的前端设备信息'" style="text-align:center"> </td>
                </tr>
                <tr>
                    <td width="5%">
                        <p>序号</p>
                    </td>
                    <td>
                        <p>前端设备手机号</p>
                    </td>
                    <td>
                        <p>安装位置</p>
                    </td>
                    <td width="14%">
                        <p>操作</p>
                    </td>
                </tr>

                <tr th:each="linked, iterStat : ${pagination.recordList}">
                    <td>
                       <p th:text="${iterStat.count + (pagination.currentPage - 1) * pagination.pageSize}">1</p>
                    </td>
                    <td>
                        <p th:text="${linked.frontPhone != null} ? ${linked.frontPhone} : ''">13931223100</p>
                    </td>
                    <td>
                    	<p th:text="${linked.installPosition != null} ? ${linked.installPosition} : ''"> </p>
                    </td>
                    <td>
                        <p>
                            <img src="./images/delete-icon.png" th:src="@{/images/delete-icon.png}" alt=""  th:onclick="'deleteRecord(&quot;//myref/delete&quot;,' + ${linked.id} +')'" title="删除" style="cursor: pointer"/>
                        </p>
                    </td>
                </tr>
            </table>
            <!-- 分页 -->
			<div class="page" th:include="common/pagination :: pagination"></div>
        </div>
    </div>
</div>
<div id="editPassword-dlg" class="alert-editpass" style="display: none;" th:include="common/editpass :: editpass"></div>
</body>
</html>