.dialog-mask {
    position: absolute;
    display: none;
    background-color: rgba(55, 55, 55, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.dialog-content {
    position: absolute;
    display: none;
    border-radius: 6px;
    background: #fff;
    z-index: 1500;
    width: 520px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.dialog-header {
    border-bottom: 1px solid #e3e8ee;
    padding: 14px 16px;
    line-height: 1;
}

.dialog-header-inner {
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #464c5b;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dialog-body {
    display: block;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
}

.dialog-footer {
    border-top: 1px solid #e3e8ee;
    padding: 12px 18px;
    text-align: right;
}

.dialog-btn {
    padding: 6px 15px 7px;
    font-size: 14px;
    border-radius: 4px;
}

.dialog-btn-text {
    color: #657180;
    background-color: transparent;
    border-color: transparent;
}

.dialog-btn-primary {
    color: #fff;
    background-color: #039f;
    border-color: #039f;
}

.dialog-close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABOklEQVRYhe2WoU4EMRRFK5ArkPMJK/gEEhDwBzRZWdVM0vTdW4ecBIlA8hEILG7FfgJiBRIxCrVBLckiyCTNZoB0aRvEXDt575xMO2+eUlOm/MeQPHfOLXL0stbOSTKpyDm3ILlLLhyBi0gP4Dm5mF/ZkTSHwI0xDYBXEVkbY5pDeqgQwg3Jrff+KhUuIus/wYcAuEuRyApPlYjgfTb4vkQI4WLsudZ6BmAlIr21dp4VrpRSXdcdkXwAsAFwWhX+k0Q1+JiE9/4MwBLApm3bk+LwWALAUwhhC+B9/0hqCTwC+ADwVuXVx/DoHlxWPX+llBKR+/hzrHoJvxtIJI+LDaDf4EOKjOAhJG8TR3E+idTfsjGmIfmSRSKCJy0m8SKitZ5VhY9IrJIlCqxky6TC3EspgOscvaZMKZJP9RcBpA4HLjIAAAAASUVORK5CYII=) no-repeat;
    background-size: 100% 100%;
}

.dialog-close:hover {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABLklEQVRYhe2WoU7EQBCGVyBPIPsIN/3+SfoAJFTAGyBO8ggn8UgEkodAYHEneIQTJ5CIKtQFBclhrknT3EG2bDeI/n7m+9LdnU4IU6b8x0iqzWyRope7z81sGVVkZgtJu+jCA3CgkbSOLjazpaQdcD0EDhSS3iRtgGJIj+Dut5I+gasB8M2f4B2J+xiJpPBYiRYONMngfQl3vzgCnwEvQOPu86TwEEKo6/rE3R+BLXCWFf6TRDb4IQl3PwdWwNbMNDq8KwE87+/ER/9IsghIenL3L+A9y6fvwtsjMLPLrOcfQgiSHrrPMeslPDaQqqo6HW0A/QZvM8oIblOW5V3MKE4qEftbBgrgNYlEC49dTLqLCDDLCu9L7F9InETqlQxYRRWmXkrd/SZFrylTRsk3ouaV0V7arGwAAAAASUVORK5CYII=) no-repeat;
    background-size: 100% 100%;
}